{% load i18n %} {% load static %}
<!-- Footer Section Start -->
<footer>
    <div class="container">
        <div class="row">
            <!-- Footer Links -->
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <ul class="footer-links">
                    <li>
                        <a href="{% url 'home' %}">{% blocktrans %}Home{% endblocktrans %}</a>
                    </li>
                    <!--<li>
                        <a href="{% url 'videos' %}">{% blocktrans %}Videos{% endblocktrans %}</a>
                    </li>-->
                    <!--<li>
                        <a href="{% url 'videos' %}">Videos</a>
                    </li>-->
                    <li>
                        <a href="{% url 'trust' %}">{% blocktrans %}Trust{% endblocktrans %}</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="copyright">
                    <p>All copyrights reserved &copy; 2018 - Designed & Developed by <a href="#">Football Mooney</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->